{%- capture featureHyperlinkText -%}
	{%- if page.language == "fr" -%}
	Lien à l’élément en vedette
	{%- else -%}
	Feature hyperlink text
	{%- endif -%}
{%- endcapture -%}

{%- capture featureBriefDescription -%}
	{%- if page.language == "fr" -%}
	Brève description de l’élément en vedette
	{%- else -%}
	Brief description of the feature being promoted
	{%- endif -%}
{%- endcapture -%}

<!-- START: Add the list of links to the features to display in basic HTML mode -->
<ul class="nojs-show">
	<li><a href="#">[1. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[2. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[3. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[4. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[5. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[6. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[7. {{ featureHyperlinkText }}]</a></li>
	<li><a href="#">[8. {{ featureHyperlinkText }}]</a></li>
</ul>
<!-- END -->

<!-- Add the "data-wb-randomize" attribute to the "col-sm-6" element to randomize the features within each theme -->
<div class="row wb-eqht-grd">
	<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/000000/FFFFFF" alt="">
			<h3><a class="stretched-link" href="#">[1. {{ featureHyperlinkText }}]</a></h3>
			<p>1. {{ featureBriefDescription }}.</p>
		</section>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/e5ff6a/000000" alt="">
			<h3><a class="stretched-link" href="#">[2. {{ featureHyperlinkText }}]</a></h3>
			<p>2. {{ featureBriefDescription }}.</p>
		</section>
	</div>
	<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/46b393/000000" alt="">
			<h3><a class="stretched-link" href="#">[3. {{ featureHyperlinkText }}]</a></h3>
			<p>3. {{ featureBriefDescription }}.</p>
		</section>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/0bd6fd/000000" alt="">
			<h3><a class="stretched-link" href="#">[4. {{ featureHyperlinkText }}]</a></h3>
			<p>4. {{ featureBriefDescription }}.</p>
		</section>
	</div>
</div>
<div class="row wb-eqht-grd">
	<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/2b3551/FFFFFF" alt="">
			<h3><a class="stretched-link" href="#">[5. {{ featureHyperlinkText }}]</a></h3>
			<p>5. {{ featureBriefDescription }}.</p>
		</section>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/311893/FFFFFF" alt="">
			<h3><a class="stretched-link" href="#">[6. {{ featureHyperlinkText }}]</a></h3>
			<p>6. {{ featureBriefDescription }}.</p>
		</section>
	</div>
	<div class="col-sm-6" data-wb-randomize='{ "toggle": "hide" }'>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/844d45/FFFFFF" alt="">
			<h3><a class="stretched-link" href="#">[7. {{ featureHyperlinkText }}]</a></h3>
			<p>7. {{ featureBriefDescription }}.</p>
		</section>
		<section class="well well-sm eqht-trgt hide">
			<img src="https://dummyimage.com/360x203/5e71a9/FFFFFF" alt="">
			<h3><a class="stretched-link" href="#">[8. {{ featureHyperlinkText }}]</a></h3>
			<p>8. {{ featureBriefDescription }}.</p>
		</section>
	</div>
</div>
