[submodule "text-size"]
	path = text-size
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = text-size
[submodule "pft-pii"]
	path = pft-pii
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = pft-pii
[submodule "pft-down"]
	path = pft-down
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = pft-down
[submodule "WET-536"]
	path = WET-536
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = WET-536
[submodule "theme-template"]
	path = theme-template
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = theme-template
[submodule "most-requested-column"]
	path = most-requested-column
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = most-requested-column
[submodule "gcds-card"]
	path = gcds-card
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcds-card
[submodule "test-test"]
	path = test-test
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = test-test
[submodule "wet-543"]
	path = wet-543
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = wet-543
[submodule "wet-518"]
	path = wet-518
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = wet-518
[submodule "2542"]
	path = 2542
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = 2542
[submodule "gcweb-pr2543"]
	path = gcweb-pr2543
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2543
[submodule "gcweb-pr2390"]
	path = gcweb-pr2390
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2390
[submodule "gcweb-pr2483"]
	path = gcweb-pr2483
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2483
[submodule "gcweb-pr2545"]
	path = gcweb-pr2545
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2545
[submodule "gcweb-pr2551"]
	path = gcweb-pr2551
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2551
[submodule "gcweb-pr2566"]
	path = gcweb-pr2566
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2566
[submodule "gcweb-pr2574"]
	path = gcweb-pr2574
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2574
[submodule "gcweb-pr2579"]
	path = gcweb-pr2579
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2579
[submodule "gcweb-pr2482"]
	path = gcweb-pr2482
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2482
[submodule "gcweb-pr2586"]
	path = gcweb-pr2586
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2586
[submodule "gcweb-pr2588"]
	path = gcweb-pr2588
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2588
[submodule "gcweb-pr2596"]
	path = gcweb-pr2596
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2596
[submodule "gcweb-pr2604"]
	path = gcweb-pr2604
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2604
[submodule "gcweb-pr2605"]
	path = gcweb-pr2605
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2605
[submodule "gcweb-pr2617"]
	path = gcweb-pr2617
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2617
[submodule "gcweb-pr2621"]
	path = gcweb-pr2621
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2621
[submodule "gcweb-pr2627"]
	path = gcweb-pr2627
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2627
[submodule "gcweb-pr2628"]
	path = gcweb-pr2628
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2628
[submodule "gcweb-pr2633"]
	path = gcweb-pr2633
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2633
[submodule "news"]
	path = news
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = news
[submodule "gcweb-pr2614"]
	path = gcweb-pr2614
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2614
[submodule "gcweb-pr12"]
	path = gcweb-pr12
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr12
[submodule "gcweb-pr2640"]
	path = gcweb-pr2640
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2640
[submodule "gcweb-pr2175"]
	path = gcweb-pr2175
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2175
[submodule "gcweb-pr2651"]
	path = gcweb-pr2651
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2651
[submodule "gcweb-pr2652"]
	path = gcweb-pr2652
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2652
[submodule "gcweb-pr2598"]
	path = gcweb-pr2598
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2598
[submodule "gcweb-pr2654"]
	path = gcweb-pr2654
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2654
[submodule "gcweb-pr2657"]
	path = gcweb-pr2657
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2657
[submodule "gcweb-pr2658"]
	path = gcweb-pr2658
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2658
