[submodule "news-subscription"]
	path = news-subscription
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = news-subscription
[submodule "wet-pr9296"]
	path = wet-pr9296
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = wet-pr9296
[submodule "ilp-template"]
	path = ilp-template
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = ilp-template
[submodule "twitter-timeline"]
	path = twitter-timeline
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = twitter-timeline
[submodule "gcweb-pr2371"]
	path = gcweb-pr2371
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = gcweb-pr2371
[submodule "topic-template-demo"]
	path = topic-template-demo
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = topic-template-demo
[submodule "theme-template"]
	path = theme-template
	url = https://github.com/ServiceCanada/wet-boew-demos.git
	branch = theme-template
