<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Office of the Auditor General of Canada</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="Office of the Auditor General of Canada Mock-up page" />
<meta name="author" content=" "/>
<meta name="dcterms.title" content="Office of the Auditor General of Canada"/>
<meta name="dcterms.description" content="Office of the Auditor General of Canada Mock-up page"/>
<meta name="dcterms.creator" content=" "/>
<meta name="dcterms.language" content="eng"/>
<meta name="dcterms.subject" content=""/>
<meta name="dcterms.issued" content=""/>
<meta name="dcterms.modified" content="2024-11-07"/>

<link href="/wet-boew-demos/gcweb-wet491/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-wet491/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-wet491/dist/wet-boew/css/noscript.css" /></noscript>
</head>
<body class="oag-theme" vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>

<header>
	
	<div class="oag-bg">
	
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Language selection</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="fr" hreflang="fr" href="mock-up-fr.html">
				<span class="hidden-xs" translate="no">Français</span>
				<abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<!-- Content specific to "oag-theme" -->
	<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
		<a href="https://wet-boew.github.io/GCWeb/" property="url">
			<img src="../../../templates/thematic/assets/oag/logo-full-inverted-transparent.png" alt="OAG" property="logo" /><span class="wb-inv"> / OAG</span>
		</a>
		<meta property="name" content="Government of Canada">
		<meta property="areaServed" typeof="Country" content="Canada" />
		<link property="logo" href="/wet-boew-demos/gcweb-wet491/dist/GCWeb/assets/wmms-blk.svg" />
	</div>
			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Search</h2>
	<form action="#" method="post" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Office of the Auditor General " />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Search</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	<hr>
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical"><li role="presentation"><a role="menuitem" href="#">About Us</a></li>
		<li role="presentation"><a role="menuitem" href="#">Publications</a></li>
		<li role="presentation"><a role="menuitem" href="#">Resources</a></li>
		<li role="presentation"><a role="menuitem" href="#">Media Room</a></li>
		<li role="presentation"><a role="menuitem" href="#">Careers</a></li>
		<li role="presentation"><a role="menuitem" href="#">Contact Us</a></li></ul>
</nav>

				</div></div>
	</div>
	
	
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.oag-bvg.gc.ca/internet/English/admin_e_41.html">
					<span property="name">
						
							Office of the Auditor General of Canada
						
					</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-wet491/index-en.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<style>
	.oag-theme header .brand img, header .brand object {
		max-height: none;
	}
	.oag-theme header .oag-gb {
		background: #1a303c;
	}

	.oag-theme .btn-primary{
		background-color: #803C2C;
		border-color: #26374a;
		border-radius: unset;
	}
	.oag-theme .btn-primary:hover {
		background-color: #1A303C;
		border-color: #091c2d;
	}

	.oag-theme .alert-info {
		border-color: #7F3D2D;
		-o-border-image: linear-gradient(to bottom, #7F3D2D 16px, #7F3D2D 16px, transparent 16px, transparent 48px, #7F3D2D 48px, #7F3D2D 48px) 1 100%;
		border-image: linear-gradient(to bottom, #7F3D2D 16px, #7F3D2D 16px, transparent 16px, transparent 48px, #7F3D2D 48px, #7F3D2D 48px) 1 100%;
		color: #676C72;
	}

	.alert-info::before {
		color: #7F3D2D;
		content: "";
	}
	.oag-theme .text-primary {
		color: #7F3D2D;
	}
	.oag-theme .label-primary{
		background: #E3E0D3;
		border-color: #908F84;
		color: #4B5B62;
	}

	.oag-theme .well {
		border: 2px solid #908F84;
	}

	.oag-theme .panel-default {
		border: 1px solid transparent;
		background-color: #F4F4F2 ;
	}
	.oag-theme .section-bg{
		background-color: #F4F4F2;
	}
	.p-3 {
		padding: 20px;
	}
	.pl-4 {
		padding-left: 30px !important;
	}
	.pr-4 {
		padding-right: 30px !important;
	}
	.text-white {
		color: #ffffff;
	}
	.bg-white {
		background-color: #ffffff;
	}
	.w-100 {
		width: 100%;
	}
</style>


<h1 class="wb-inv">OAG</h1>

<div class="pt-4 pb-4 bg-center bg-cover"
	data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../assets/oag/dark_background2.png 992w">
	<section class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="mrgn-bttm-xl text-white">We serve Canada through leadership and partnerships in audits that support trust in public
					institutions and continued public service excellence.</h2>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-sm-7 d-flex">
				<!-- Report Card 1 -->
				<div class="img-rounded bg-center bg-cover well w-100"
					data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../assets/oag/bear-background.png 992w">
					<div class="bg-light p-3">
						<span class="img-rounded font-weight-bold p-1 label label-primary"> Reports of the Auditor General of Canada</span>
						<section class="alert alert-info mrgn-tp-lg mrgn-bttm-lg">
							<p>3 Upcoming Reports:</p>
							<time class="h2 text-primary" datetime="2024-11-18">November 18, 2024</time>
						</section>
						<a class="btn btn-lg btn-primary mt-3" href="#">See all upcoming reports</a>
					</div>
				</div>
			</div>
			<div class="col-sm-5 d-flex flex-column">
				<!-- Report Card 2 -->
				<div class="img-rounded mb-3 mrgn-bttm-lg bg-white well">
					<p class="mb-1">
						<span class="small font-weight-bold p-1 label label-primary">AG
							Reports</span> <span class=""> May 6, 2024</span>
					</p>

					<p class="mb-3">Strategic Innovation Fund’s Net Zero Accelerator Initiative—Innovation,
						Science and Economic Development Canada</p>
					<a href="#" class="pull-right no-undrln text-primary">Read report &rarr;</a>
				</div>

				<!-- Report Card 3 -->
				<div class="img-rounded bg-white well">
					<p class="mb-1">
						<span class="small font-weight-bold p-1 label label-primary">CESD
							Reports </span> <span class=""> Feb. 18, 2024</span>
						</p>
					<p class="mb-3">Housing in First Nations Communities</p>
					<a href="#" class="pull-right no-undrln text-primary">Read report &rarr;</a>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="mrgn-tp-lg mrgn-bttm-xl">
	<div class="container">
		<div class="row wb-eqht-grd">
			<!-- Feature 1 -->
			<div class="col-sm-4">
				<div class="panel panel-default gc-hvr-shadow eqht-trgt hght-inhrt">
					<div class="panel-body">
						<div class="row wb-eqht-grd">
							<!-- Icon Placeholder -->
							<div class="col-xs-3 d-flex align-items-center">
								<span class="img-rounded text-center center-block">
									<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								</span>
							</div>
							<!-- Content -->
							<div class="col-xs-9">
								<p class="h4"><a href="#" class="stretched-link no-undrln">Public Inquiries</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Feature 2 -->
			<div class="col-sm-4">
				<div class="panel panel-default gc-hvr-shadow eqht-trgt hght-inhrt">
					<div class="panel-body">
						<div class="row wb-eqht-grd">
							<!-- Icon Placeholder -->
							<div class="col-xs-3 d-flex align-items-center">
								<span class="img-rounded text-center center-block">
									<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
								</span>
							</div>
							<!-- Content -->
							<div class="col-xs-9">
								<p class="h4"><a href="#" class="stretched-link no-undrln">Job Opportunities</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Feature 3 -->
			<div class="col-sm-4">
				<div class="panel panel-default gc-hvr-shadow eqht-trgt hght-inhrt">
					<div class="panel-body">
						<div class="row wb-eqht-grd">
							<!-- Icon Placeholder -->
							<div class="col-xs-3 d-flex align-items-center">
								<span class="img-rounded text-center center-block">
									<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
								</span>
							</div>
							<!-- Content -->
							<div class="col-xs-9">
								<p class="h4"><a href="#" class="stretched-link no-undrln">Updates on Past Audits</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt-4 pb-4 section-bg">
	<div class="container">
		<div class="row pb-4">
			<div class="col-sm-8 pr-4">
				<h2>
					Bringing togheter people, expertise, and technology for a better Canada,
					<br> one audi at a time.
				</h2>
				<p class="lead">
					The Office of the Auditor General of Canada (OAG) serves Parliament by providing it with objective,
					fact-based
					information and expert advice on government programs and activities, gathered through audits.
					Parliamentarians
					use OAG reports to oversee government activities and hold the federal government to account for its
					handling of
					public funds.
				</p>
			</div>
			<div class="col-sm-4">
				<img class="img-responsive" src="../assets/oag/entry-building.png"
					alt="Image of OAG building entry" />
			</div>
		</div>
		<div class="row pb-4">
			<div class="col-sm-5 pr-4">
				<img class="img-responsive" src="../assets/oag/karen-hogan.png"
					alt="Photo of Karen Hogan" />
			</div>
			<div class="col-sm-7">
				<blockquote>
					<p class="lead">
						<span class="text-danger">“</span>I have been and continue to be inspired by the people who work in our office. They are caring,
						creative,
						skilled, incredibly intelligent and professional, and always focused on upholding high standards
						while
						contributing to a well-managed and accountable government. It has been my privilege to work
						alongside
						these
						individuals and to have played a part in shaping the strategic direction of the office and leading
						organizational change.”
						<br>
						<span>— Karen Hogan</span><br> Auditor General of Canada
					</p>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<div class="bg-center bg-cover"
	data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../assets/oag/people-background2.png 992w">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 pull-right pt-4 pl-4 pb-4">
				<h2>Working at the OAG</h2>
				<p><strong>Challenging, meaningful work.</strong></p>
				<p class="lead">
					At the OAG, we always strive to be better. We aim to improve and adapt to the needs of our people—we
					want you
					to want to work here. We recognize the value of different educational, professional, and cultural
					backgrounds
					within our team.
				</p>
				<a class="btn btn-lg btn-primary" href="#">Career opportunities</a>
			</div>
		</div>
	</div>
</div>
<div class="bg-center bg-cover"
	data-bgimg-srcset="https://wet-boew.github.io/vocab/wb/utilities#no-image 991w, ../assets/oag/river-background.png 992w">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 pt-4 pr-4 pb-4">
				<h2>Environmental Petitions</h2>
				<p class="lead">
					Environmental petitions are a unique way for Canadian residents—acting as individuals or on behalf
					of an
					organization—to bring their concerns and questions about environmental issues related to sustainable
					development to the attention of the federal ministers, with a guaranteed response.
				</p>
				<a class="btn btn-lg btn-primary" href="#">More about petitions</a>
			</div>
		</div>
	</div>
</div>

<section class="pagedetails container">
	<h2 class="wb-inv">Page details</h2><dl id="wb-dtmd">
	<dt>Date modified:</dt>
	<dd><time property="dateModified">2024-11-07</time></dd>
</dl>
</section>

</main>

<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>


<div class="gc-main-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<nav>
					<h3 class="wb-inv">Government of Canada Corporate</h3>
					<ul class="colcount-sm-2 colcount-md-3 list-unstyled text-white"><li><a href="#">Contact us</a></li>
						<li><a href="#">Current opportunities</a></li>
						<li><a href="#">Transparency</a></li>
						<li><a href="#">Feedback</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy</a></li></ul>
				</nav>
			</div>
			<div class="col-sm-3 pt-4">
				<img class="img-responsive" src="../../../templates/thematic/assets/oag/logo-full-transparent.png" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</div></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-wet491/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-wet491/dist/GCWeb/js/theme.js"></script>
</body>
</html>
