<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

<title>Accessibility statement - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content="Accessibility statement page template for institutions.">
<meta name="author" content=" ">
<meta name="dcterms.title" content="Accessibility statement">
<meta name="dcterms.description" content="Accessibility statement page template for institutions.">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="eng">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2026-07-22">



<link href="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/css/theme.css" />
<noscript><link rel="stylesheet" href="/wet-boew-demos/gcweb-pr2822/dist/wet-boew/css/noscript.css" /></noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage"><nav>
	<ul id="wb-tphp">
		<li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
		<li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to About this site</a></li></ul>
</nav>

<header>
	<div id="wb-bnr" class="container">
		<div class="row">
			
				<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
	<h2 class="wb-inv">Language selection</h2>
	<ul class="list-inline mrgn-bttm-0">
		<li>
			<a lang="fr" hreflang="fr" href="accessibility-statement-fr.html">
				<span class="hidden-xs" translate="no">Français</span>
				<abbr title="Français" translate="no" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
			</a>
		</li>
	</ul>
</section>

			
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="https://wet-boew.github.io/GCWeb/" property="url">
		<img src="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo" /><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
	</a>
	<meta property="name" content="Government of Canada">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/assets/wmms-blk.svg" />
</div>

			
				
<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
	<h2>Search</h2>
	<form action="https://www.canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search">
		<div class="form-group wb-srch-qry">
			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search Canada.ca" />
			<datalist id="wb-srch-q-ac"></datalist>
		</div>
		<div class="form-group submit">
			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
				<span class="glyphicon-search glyphicon"></span>
				<span class="wb-inv">Search</span>
			</button>
		</div>
	</form>
</section>

			
		</div>
	</div>
	
	
	<hr>
	
	<div class="container">
		<div class="row"><div class="col-md-8">
					<nav class="gcweb-menu" typeof="SiteNavigationElement">
	<h2 class="wb-inv">Menu</h2>
	<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
	<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html"><li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
		<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
		<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></li></ul>
</nav>

				</div></div>
	</div>
	
	<nav id="wb-bc" property="breadcrumb">
	<h2>You are here:</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="https://www.canada.ca/en.html">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/wet-boew-demos/gcweb-pr2822/index-en.html">
									<span property="name">GCWeb</span>
								</a>
								<meta property="position" content="2">
							</li>
							
		</ol>
	</div>
</nav>


</header>

<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<div class="container">
	<h1 id="wb-cont">Accessibility statement</h1>

	<section>
		<h2>Our commitment</h2>
		<p><em class="highlight">[Institution name]</em> is committed to ensuring that its websites and web applications are accessible to everyone, including people with disabilities. We continually improve the user experience for all visitors by applying and maintaining relevant accessibility standards.</p>
		<p>On this website, you should be able to:</p>
		<ul>
			<li>navigate and interact with all content using only a keyboard</li>
			<li>navigate and interact with all content using a screen reader or other assistive technology</li>
			<li>zoom in up to <em class="highlight">[200]</em>% without loss of content or functionality</li>
			<li>perceive all content thanks to sufficient colour contrast</li>
			<li><em class="highlight">[Add or remove items to reflect what the site supports]</em></li>
		</ul>
	</section>

	<section>
		<h2>Standards applied</h2>
		<p>This website is designed to meet the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a>, Level AA. These guidelines explain how to make web content more accessible for people with disabilities and more user friendly for everyone.</p>
		<p>This website is <em class="highlight">[fully conformant/partially conformant/non-conformant]</em> with WCAG 2.1 Level AA. <em class="highlight">[If partially conformant or non-conformant, briefly explain: for example, "Partially conformant means that some parts of the content do not fully conform to the accessibility standard. Known exceptions are listed in the non-accessible content section below."]</em></p>
	</section>

	<section>
		<h2>Non-accessible content</h2>
		<p>Despite our best efforts, some content on this website may not be fully accessible. The known limitations, and our plans to address them, are listed below.</p>
		<section>
			<h3>Known limitations</h3>
			<ul>
				<li><em class="highlight">[Describe the non-accessible content or feature]</em>: this content does not meet WCAG 2.1 success criterion <em class="highlight">[number and name of criterion, for example "1.1.1 Non-text Content"]</em>. <em class="highlight">[Describe the planned fix and the expected timeline, for example "We plan to fix this issue by March 2027."]</em></li>
				<li><em class="highlight">[Add an item for each known limitation]</em></li>
			</ul>
			<p>If you encounter a barrier that is not listed above, please <a href="#contact-us">contact us</a>.</p>
		</section>
		<section>
			<h3>Content that is not within the scope of this statement</h3>
			<p>The following content is not within the scope of this statement:</p>
			<ul>
				<li>documents in portable document format (PDF) published before <em class="highlight">[date]</em></li>
				<li>third-party content that is neither funded nor developed by, nor under the control of, <em class="highlight">[institution name]</em></li>
				<li>archived content that is no longer needed to deliver active programs or services</li>
				<li><em class="highlight">[Add or remove items as required]</em></li>
			</ul>
			<p>If you need assistance with any content that is out of scope, please <a href="#contact-us">contact us</a> to request an alternate format.</p>
		</section>
	</section>

	<section>
		<h2>Measures taken to ensure accessibility</h2>
		<p><em class="highlight">[Institution name]</em> takes the following measures to ensure the accessibility of this website:</p>
		<ul>
			<li>includes accessibility as a requirement in our internal policies and throughout the development life cycle</li>
			<li>provides mandatory accessibility training for employees who create web content</li>
			<li>provides accessibility tools and resources for employees</li>
			<li>conducts rigorous accessibility assessments and periodic re-assessments</li>
			<li><em class="highlight">[Add or remove measures to reflect the institution's practices]</em></li>
		</ul>
	</section>

	<section>
		<h2>Browser and environment specifications</h2>
		<p>This website is designed to be compatible with the following browsers:</p>
		<ul>
			<li><em class="highlight">[Browser name and minimum version, for example "Google Chrome (latest version)"]</em></li>
			<li><em class="highlight">[Add an item for each supported browser]</em></li>
		</ul>
		<p>This website has been tested with the following assistive technologies:</p>
		<ul>
			<li><em class="highlight">[Assistive technology and browser combination, for example "NVDA with Google Chrome on Windows"]</em></li>
			<li><em class="highlight">[Add an item for each combination tested]</em></li>
		</ul>
	</section>

	<section>
		<h2>Assessment approach</h2>
		<p><em class="highlight">[Institution name]</em> assessed the accessibility of this website using the following approaches:</p>
		<ul>
			<li>self-evaluation, conducted by <em class="highlight">[name of internal team]</em></li>
			<li>external evaluation, conducted by <em class="highlight">[name of external organization]</em></li>
			<li>automated testing, using <em class="highlight">[names of automated tools]</em></li>
			<li>manual testing with assistive technologies</li>
			<li><em class="highlight">[Add or remove approaches as required]</em></li>
		</ul>
	</section>

	<section>
		<h2>Canadian accessibility laws</h2>
		<p>The <a href="https://laws-lois.justice.gc.ca/eng/acts/a-0.6/"><em>Accessible Canada Act</em></a> aims to create a barrier-free Canada by 2040 through the identification, removal and prevention of barriers in areas under federal jurisdiction, including information and communication technologies.</p>
		<p><em class="highlight">[Institution name]</em> is committed to meeting its obligations under the <em>Accessible Canada Act</em> and its regulations, including the publication of accessibility plans, feedback processes and progress reports.</p>
		<p><em class="highlight">[Optional: add a link to the institution's accessibility plan and progress reports.]</em></p>
	</section>

	<section>
		<h2 id="contact-us">Contact information</h2>
		<p>We welcome your feedback on the accessibility of this website. If you encounter an accessibility barrier, have a question or a concern, or need content in an alternate format, you can contact us using any of the following methods:</p>
		<dl>
			<dt><strong>By email:</strong></dt>
			<dd><em class="highlight">[email address]</em></dd>
			<dt><strong>By telephone:</strong></dt>
			<dd><em class="highlight">[telephone number]</em></dd>
			<dt><strong>By mail:</strong></dt>
			<dd><em class="highlight">[mailing address]</em></dd>
			<dt><strong>Online:</strong></dt>
			<dd><em class="highlight">[link to feedback form]</em></dd>
		</dl>
		<p>We aim to respond to accessibility feedback within <em class="highlight">[number]</em> business days.</p>
		<p>If you are not satisfied with how we respond to your feedback or complaint, you can file a complaint with the <a href="https://www.chrc-ccdp.gc.ca/find-help/file-complaint-accessibility-commissioner">Accessibility Commissioner</a> at the Canadian Human Rights Commission, who is responsible for enforcing the <em>Accessible Canada Act</em>.</p>
	</section>

	<section>
		<h2>About this statement</h2>
		<p>This statement was prepared on <em class="highlight">[date of original publication]</em>.</p>
		<p>It was last reviewed on <em class="highlight">[date of last review]</em>.</p>
		<p>This website was last assessed on <em class="highlight">[date of last assessment]</em> by <em class="highlight">[name of internal team or external organization]</em>.</p>
	</section>
</div>

<section class="pagedetails container">
	<h2 class="wb-inv">Page details</h2><dl id="wb-dtmd">
	<dt>Date modified:</dt>
	<dd><time property="dateModified">2026-07-22</time></dd>
</dl>
</section>

</main>

<footer id="wb-info">
	<h2 class="wb-inv">About this site</h2>


	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://www.international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous Peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li>
					<li><a href="https://www.canada.ca/en/services/life-events.html">Manage life events</a></li></ul>
			</nav>
		</div>
	</div>

	<div class="gc-sub-footer">
		<div class="container d-flex align-items-center">
			<nav>
				<h3 class="wb-inv">Government of Canada Corporate</h3>
				<ul>
					<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
					<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
					<li><a href="https://canada.ca/en/government/about-canada-ca.html">About Canada.ca</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
					<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul>
			</nav>
			<div class="wtrmrk align-self-end">
				<img src="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
			</div>
		</div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="/wet-boew-demos/gcweb-pr2822/dist/wet-boew/js/wet-boew.js"></script>
<script src="/wet-boew-demos/gcweb-pr2822/dist/GCWeb/js/theme.js"></script>
</body>
</html>
