<section class="gc-contributors">
	<h2>{% if page.language == "en" %}From:{% else %}De&nbsp;:{% endif %}</h2>
	<ul>
		<li><a href="#">{% if page.language == "en" %}[Department or agency 1 with a very long department or agency name]{% else %}[Département ou agence 1 avec un très long nom de département ou agence]{% endif %}</a></li>
		<li><a href="#">{% if page.language == "en" %}[Department or agency 1 with a very long department or agency name]{% else %}[Département ou agence 1 avec un très long nom de département ou agence]{% endif %}</a></li>
	</ul>
</section>
